<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676154107599-edueivjgbb3ficlnoq5mksi4pikvv7sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676154107599-edueivjgbb3ficlnoq5mksi4pikvv7sq</string>
	<key>API_KEY</key>
	<string>AIzaSyDSAvSHTgrg3slmjZzO8N5NU7s8agM-z1E</string>
	<key>GCM_SENDER_ID</key>
	<string>676154107599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neobis.kant</string>
	<key>PROJECT_ID</key>
	<string>kant-d06c0</string>
	<key>STORAGE_BUCKET</key>
	<string>kant-d06c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676154107599:ios:ea0b9c0a580576cb</string>
	<key>DATABASE_URL</key>
	<string>https://kant-d06c0.firebaseio.com</string>
</dict>
</plist>